alabaster==0.7.12
arrow==1.2.1
astroid==2.9.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
black==21.12b0
bleach==4.1.0
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
cookiecutter==1.7.3
cryptography==36.0.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
flake8==4.0.1
fonttools @ file:///D:/bld/fonttools_1639926454645/work
google==3.0.0
google-api-core==2.3.2
google-api-python-client==2.34.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
httplib2==0.20.2
idna==3.3
imageio==2.13.5
imagesize==1.3.0
importlib-metadata==4.10.0
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.6.1
ipython==7.31.0
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
jellyfish==0.8.9
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
jsonschema==4.3.3
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keyring==23.5.0
kiwisolver @ file:///D:/bld/kiwisolver_1635836893295/work
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
matplotlib @ file:///D:/bld/matplotlib-suite_1639359208125/work
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.6.7
numpy @ file:///D:/bld/numpy_1641177306887/work
numpydoc==1.1.0
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl==3.0.9
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.1
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
pluggy==1.0.0
poyo==0.5.0
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
pygame==2.1.2
Pygments==2.11.1
pylint==2.12.2
pyls-spyder==0.4.0
PyNaCl==1.4.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
pyrsistent==0.18.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-lsp-black==1.0.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-slugify==5.0.2
pytz==2021.3
pywin32==303
pywin32-ctypes==0.2.0
pyzmq==22.3.0
QDarkStyle==3.0.2
qstylizer==0.2.1
QtAwesome==1.1.1
qtconsole==5.2.2
QtPy==2.0.0
regex==2021.11.10
requests==2.27.0
requests-oauthlib==1.3.0
rope==0.22.0
rsa==4.8
Rtree==0.9.7
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.2.1
spyder-kernels==2.2.0
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.2
three-merge==0.1.1
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
ujson==5.1.0
uritemplate==4.1.1
urllib3==1.26.7
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
wincertstore==0.2
wordcloud @ file:///D:/bld/wordcloud_1637007576973/work
wrapt==1.13.3
yapf==0.32.0
zipp==3.7.0
